/*@font-face {
	font-family: 'Kayak-Sans';
	src: url('../fonts/Kayak-Sans-Regular.eot');
	src: local('☺'), url('../fonts/Kayak-Sans-Regular.woff') format('woff'), url('../fonts/Kayak-Sans-Regular.ttf') format('truetype'), url('../fonts/Kayak-Sans-Regular.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Kayak-Sans';
	src: url('../fonts/Kayak-Sans-Light.eot');
	src: local('☺'), url('../fonts/Kayak-Sans-Light.woff') format('woff'), url('../fonts/Kayak-Sans-Light.ttf') format('truetype'), url('../fonts/Kayak-Sans-Light.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Kayak-Sans';
	src: url('../fonts/Kayak-Sans-Bold.eot');
	src: local('☺'), url('../fonts/Kayak-Sans-Bold.woff') format('woff'), url('../fonts/Kayak-Sans-Bold.ttf') format('truetype'), url('../fonts/Kayak-Sans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}*/

html, body {
	height: 100%;
	font-family: 'Nunito', sans-serif;
}

body {
	margin: 0;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-left {
	display: flex;
	align-items: center;
}

.center-top {
	display: flex;
	justify-content: center;
}

/* Hero */
#hero {
	background-image: url('../sponsor/img/hero.jpg');
	background-size: cover;
	background-position: center center;
	height: calc(100% + 50px);
}

#hero::before {
	content: '';
	background-image: linear-gradient(to bottom right, #02ccba 0%, #3d99be 31%, #9848d5 100%);
	opacity: 0.8;
	width: 100%;
	height: calc(100% + 50px);
	position: absolute;
}

.logo-header {
	height: 100px;
	padding: 35px 0 0 50px;
	position: absolute;
}

.logo-header>img {
	height: 100%;
}

.logo-header>span {
	font-weight: 700;
	font-size: 1.5em;
	padding-left: 0.5em;
	letter-spacing: 0.02em;
	color: white;
	margin-top: -1px;
}

#hero-content {
	height: 100%;
	position: relative;
	z-index: 1;
}

#hero-content>div>span {
	display: block;
	color: white;
}

.hero-title {
	font-size: 3.5em;
	font-weight: 600;
	text-align: center;
}

.hero-description {
	font-weight: 200;
	font-size: 1.4em;
	letter-spacing: 0.032em;
	text-align: center;
}

.hero-border {
	width: 100%;
	height: 225px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.hero-border svg {
	width: 100%;
	height: calc(100% + 50px);
	position: absolute;
	vertical-align: bottom;
}

/* Recap */
#recap-content {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 5% 0;
}

#recap-content>.title {
	font-size: 2.8em;
	font-weight: 800;
	margin-top: -0.5%;
}

#recap-content>.recap-description {
	font-size: 1.4em;
	letter-spacing: 0.014em;
}

.recap-statistics {
	text-align: center;
	padding-top: 2.5%;
}

.recap-statistics>div>strong {
	display: block;
	font-size: 1.5em;
	font-weight: 600;
}

.recap-statistics>div>span {
	font-weight: 300;
	font-size: 0.9em;
}