html, body {
	height: 100%;
	font-family: 'Asap', sans-serif;
}

body {
	margin: 0;
}

section {
	height: 100%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-left {
	display: flex;
	align-items: center;
}

/* Hero */
#hero {
	background-image: url('../sponsor/img/hero.jpg');
	background-size: cover;
	background-position: center center;
	height: calc(100% + 50px);
}

#hero::before {
	content: '';
	background-image: linear-gradient(-45deg, #eb484d, #3136A8);
	opacity: 0.8;
	width: 100%;
	height: calc(100% + 50px);
	position: absolute;
}

.header {
	height: 80px;
	padding: 35px 0 0 50px;
	position: absolute;
}

.header>img {
	height: 100%;
}

.header>span {
	font-weight: 700;
	font-size: 1.5em;
	padding-left: 0.5em;
	letter-spacing: 0.02em;
	color: white;
	margin-top: -1px;
}

#hero-content {
	height: 100%;
	position: relative;
	z-index: 1;
}

#hero-content>div>span {
	display: block;
	color: white;
}

.hero-title {
	font-size: 3em;
	text-align: center;
}

.hero-description {
	font-weight: 300;
	font-size: 1.17em;
	letter-spacing: 0.02em;
	text-align: center;
	padding-top: 0.75%;
}

.hero-border {
	width: 100%;
	height: 225px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.hero-border svg {
	width: 100%;
	height: calc(100% + 50px);
	position: absolute;
	vertical-align: bottom;
}