/* yellow: #fed105 */
/* dark blue: #010e1e */
/* light blue: #275799 */

::-webkit-scrollbar {
    display: none;
}
html{
  font-family: 'Lato', sans-serif;
}
body{
  background-color:white;
  transition:all 0.5s ease;
}
nav.unscrolled{
  background-color:transparent;
  box-shadow:none;
}
nav{
  background-color:#275799;
  font-weight:bold;
  transition:all 0.5s ease;
  padding:0;
}
strong{
  font-weight:900;
}
#apply-btn{
  font-size:1.5rem;
  /*font-weight:bold;*/
}

.navbar-fixed{
  position:absolute;
  top:0;
  font-size:20px;
}
.hack-logo{
  padding-left: 1%;
  font-size:40px;
}
.hack-uci{
  height:35vmin;
}
.heading-image{
  /*background-image:url('../images/Main floor.png');*/
  padding-top: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color:#010e1e;
  color:white;
  background-size: 100% 100%;
  min-height:400px;
}

.background-video {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: auto;
    overflow: hidden;
}

.home-container {
    width: 100%;
    max-width: 100%;
}

.home-text {
    position: absolute;
    top: 5%;
    width: 100%;
    max-height: 500px;
}

.slogan{
  padding-bottom: 5%;
}
.about-info{
  color:#002f5f;
  font-size:30px;
}
.faq{
  background-color:#010e1e;
  color:white;
  /*min-height: 500px;*/
}
.application{
  min-height: 300px;
}
.card-panel{
  margin: 4% 0 0 0;
  transition: all 0.5s ease;
}
.card-color{
  background-color: #275799;
}
.info{
  font-size:7vmin;
  padding:0;
}
.heading{
  font-size:25px;
}
.card-info{
  padding-bottom:20px;
}
.sponsor-row {
    text-align: center;
    margin: 5% 2% 5% 2%;
}
.sponsor-image{
  width:25%;
  opacity: 0.5;
  margin: 0% 3% 0% 3%;
  vertical-align:middle;
}
.sponsor-image-2{
  max-width:25%;
  opactiy: 0.5;
  margin:10px;
}
.sponsor-image:hover{
  opacity:1;
}
.sponsor-btn{
  margin-bottom: 50px;
}
.menu-btn{
  margin-left: 10%;
}
.footer-copyright{
  /*background-color:#010e1e;*/
  background-color:#275799;
  color:white;
  padding:1%;
}
.h1{
  padding-bottom:3%;
}
.foot{
  color:white;
}
.foot:hover{
  color:teal;
}
.foot-link{
  color:white;
  margin: 10px;
}
.raining-img{
  visibility:hidden;
}
.rain{
  cursor: crosshair;
}
.modal{
  position:fixed;
  top:15%;
  width:50%;
  z-index:100000;
}
.email-text-area{
  height:200px;
}
.ahmed{
  font-size:70px;
  margin-top:0.5em;
  margin-bottom:0.7em;
}

.apply-btn {

}

/*.apply-btn > span {
    font-size: 5vmin;*/
}
